{% extends 'default.html' %}

{% block content %}

<div class="nav_bar">
    <div class="nav_bar_contante">
        <div class="nav_bar_home">
            <a href="{{ url_for('index') }}">see the main information</a>
        </div>
        <div class="nav_bar_color">
            <p><div class="name_color"><span class="error">Out of range</span> | <span class="timeout">Time out</span> | <span class="offline">Offline</span> | <span class="Alert_act">Alert activate</span> | <span class="Alert_launch">Alert launch</span> | </div><a href="" id="change_color">Change colors</a></p>
        </div>
    </div>
</div>

<div class="donnes">
    {% for item in results[0] %}

        <div class="{{ item }} {{ filter_readmode(item) }}">
        <h3>{{ item }}</h3>
        {% for device in results[0][item] %}

        <ul>
                <li><span class="{{filtercd_timeout(device.table_name)}}">{{ device.label_device }} ({{ device.date }}) {{ filter_date(device.date) }} </span></li>
            <ul>
                {% for keys in device.label_keys %}
                        {% set key = device.key[loop.index0] %}
                        {% set data = device.datas[loop.index0] %}
                        {% set alarm = filter_alarm(device.table_name, key, data) %}
                    {% if alarm[0] == True %}
                            {% if alarm[1] == True %}
                                <li><a href="{{ url_for('view', table=device.table_name, devices=device.key[loop.index0]) }}">{{ keys }}</a> : <span class="Alert_launch">{{ data }} {{ device.units[loop.index0] }}</span></li>
                            {% else %}
                                <li><a href="{{ url_for('view', table=device.table_name, devices=device.key[loop.index0]) }}">{{ keys }}</a> : <span class="Alert_act">{{ data }} {{ device.units[loop.index0] }}</span></li>
                            {% endif %}
                        {% else %}
                            {% if filter_range(data, device.range) == True %}
                                <li><a href="{{ url_for('view', table=device.table_name, devices=device.key[loop.index0]) }}">{{ keys }}</a> : <span class="error"> {{ data }} {{ device.units[loop.index0] }} &#9888;</span></li>
                            {% else %}
                                <li><a href="{{ url_for('view', table=device.table_name, devices=device.key[loop.index0]) }}">{{ keys }}</a> : {{ data }} {{ device.units[loop.index0] }}  </li>
                            {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </ul>

        {% endfor %}
    </div>
    {% endfor %}
</div>
</div>

<div class="view_change_color">
    <div class="cross-close">✕</div>
    <h1>Changer les couleurs</h1>

    <form action="">
        <label for="error">Out of range --> </label>
        <input type="color" id="error" value="#2e84c1"><br><br>
        <label for="timeout">Time out --> </label>
        <input type="color" id="timeout" value="#969696"><br><br>
        <label for="offline">Offline --> </label>
        <input type="color" id="offline" value="#FFFFFF"><br><br>
        <label for="Alert_act">Alert activate --> </label>
        <input type="color" id="Alert_act" value="#4df441"><br><br>
        <label for="Alert_launch">Alert launch --> </label>
        <input type="color" id="Alert_launch" value="#f44b42"><br><br><br>
        <input type="submit" id="valider">
    </form>
</div>

      <script>
        setColor();

        $('#valider').click(function(e){
            e.preventDefault();
            setColor();
        });

        function setColor(){
            var error = $("#error").val();
            var timeout = $("#timeout").val();
            var offline = $("#offline").val();
            var Alert_act = $("#Alert_act").val();
            var Alert_launch = $("#Alert_launch").val();

            $(".error").css('background-color', error);
            $(".timeout").css('background-color', timeout);
            $(".offline").css('background-color', offline);
            $(".offline").css('opacity', '0.5');
            $(".Alert_act").css('background-color', Alert_act);
            $(".Alert_launch").css('background-color', Alert_launch);
        }

        $('#change_color').click(function(e){
            e.preventDefault();
            $('.view_change_color').css('display', 'block');
        });

        $('.cross-close').click(function(){
            $('.view_change_color').css('display', 'none');
        })

        load = setInterval(refresh_all, 20000);

        $('#refresh').click(function(){
            refresh_all();
        });

        function refresh_all(){

            $.get('/refresh_all', function(data){
                $('.donnes').html(data);
                setColor();
            }, 'html');

        }

    </script>
{% endblock %}