<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/test.css')}}">
        <meta http-equiv="refresh" content="20;URL={{ url_for('index') }}">
    </head>
    <body>
    <a href="{{ url_for('see_all') }}">see all devices</a>
    <div class="datas">
        <div class="cameras">
            {% for camera in cameras %}
                <div class="line">
                        <div class="name">{{ camera.name }}</div><div class="mode">{{ camera.mode }}</div>
                        {% if camera.mode != 'offline' %}
                            {% for donne in camera.data %}
                                {% if camera.limit[loop.index0][0] > donne or camera.limit[loop.index0][1] < donne %}
                                    <div class="donne alert {{ filter_timeout(camera.table[loop.index0]) }}">
                                        <div class="title"><a href="{{ url_for('view', table=camera.table[loop.index0]|lower, devices=camera.key[loop.index0]) }}">{{ camera.label[loop.index0] }}</a></div>
                                        <div class="data">{{ donne }}</div>
                                    </div>
                                {% else %}
                                    <div class="donne good {{ filter_timeout(camera.table[loop.index0]) }}">
                                        <div class="title"><a href="{{ url_for('view', table=camera.table[loop.index0]|lower, devices=camera.key[loop.index0]) }}">{{ camera.label[loop.index0] }}</a></div>
                                        <div class="data">{{ donne }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="enu">
            {% for enu in enus %}
                <div class="line">
                        <div class="name">{{ enu.name }}</div><div class="mode">{{ enu.mode }}</div>
                        {% if enu.mode != 'offline' %}
                            {% for donne in enu.data %}
                                {% if enu.limit[loop.index0][0] > donne or enu.limit[loop.index0][1] < donne %}
                                    <div class="donne alert {{ filter_timeout(enu.table[loop.index0]) }}">
                                        <div class="title"><a href="{{ url_for('view', table=enu.table[loop.index0]|lower, devices=enu.key[loop.index0]) }}">{{ enu.label[loop.index0] }}</a></div>
                                        <div class="data">{{ donne }}</div>
                                    </div>
                                {% else %}
                                    <div class="donne good {{ filter_timeout(enu.table[loop.index0]) }}">
                                        <div class="title"><a href="{{ url_for('view', table=enu.table[loop.index0]|lower, devices=enu.key[loop.index0]) }}">{{ enu.label[loop.index0] }}</a></div>
                                        <div class="data">{{ donne }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="other">
            {% for ait in aits %}
                <div class="line">
                        <div class="name">{{ ait.name }}</div><div class="mode">{{ ait.mode }}</div>
                        {% if ait.mode != 'offline' %}
                            {% for donne in ait.data %}
                                {% if ait.limit[loop.index0][0] > donne or ait.limit[loop.index0][1] < donne %}
                                    <div class="donne alert {{ filter_timeout(ait.table[loop.index0]) }}">
                                        <div class="title"><a href="{{ url_for('view', table=ait.table[loop.index0]|lower, devices=ait.key[loop.index0]) }}">{{ ait.label[loop.index0] }}</a></div>
                                        <div class="data">{{ donne }}</div>
                                    </div>
                                {% else %}
                                    <div class="donne good {{ filter_timeout(ait.table[loop.index0]) }}">
                                        <div class="title"><a href="{{ url_for('view', table=ait.table[loop.index0]|lower, devices=ait.key[loop.index0]) }}">{{ ait.label[loop.index0] }}</a></div>
                                        <div class="data">{{ donne }}</div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    </body>
</html>
