body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color:white;
}

/* css pour page index */
.donne{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: "red blue aitroom";
}

a{
    text-decoration: underline;
    color: black;
}

.xcu_r1{
    grid-area: red;

    border: 2px red solid;

}

.xcu_b1{
    grid-area: blue;
    border: 2px blue solid;
}

.aitroom{
    grid-area: aitroom;
    border: 2px black solid;
}

table{
    background-color: #c5d4ff;
    text-align: center;
}

/* css changer de couleur */
.view_change_color{
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
    box-shadow: 10px 10px 15px black;
    border-radius: 5px;
    padding: 20px;
}

.cross-close {
	font-weight: bolder;
	font-size: 20px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	position: relative;
	left: 100%;
	top: -20px;
	transform: translateX(-50%);
	background-color: transparent;
	transition: all 200ms ease-in-out;
	cursor:pointer;
}

/* css pour view */
.graph{
    margin-top: -50px;
}

.erreur{
    font-size: 18px;
    width: 1fr;
    height: 30px;
    padding-left: 20px;
    padding-top: 15px;
    background-color: red;
}