.test{
    display: none;
    background-color: lightblue;
    position: absolute;
    z-index: 1000;
    width: 1000px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -500px;
    box-shadow: 10px 10px 15px black;
    border-radius: 5px;
}