{% extends 'default.html' %}

{% block content %}

            <center><h1>{{ info.table }} - <small>{{ info.key }}</small></h1></center>

            {% for erreur in error %}
                <div class="alert alert-danger">

                    <p class="erreur">{{ erreur }}</p>

                </div>
            {% endfor %}

            {% if error[0] != "date pas encore passé" %}


                    <div id="graph"></div>


                        <script type="text/javascript">
                            var graphs = {{graphjson | safe}};
                            var go_refresh = false;
                            var today = new Date();
                            if ( (today.getMonth()+1) < 10 ){
                                today = today.getFullYear()+"-0"+(today.getMonth()+1)+"-"+today.getDate();
                            }else{
                                today = today.getFullYear()+"-"+(today.getMonth()+1)+"-"+today.getDate();
                            }


                            if ( today == "{{ legend_x[1].split(' ')[0] }}" ){
                                go_refresh = true;
                            }

                                Plotly.plot('graph',
                                            graphs[0].data,
                                            {
                                                yaxis: { title: "{{ info.ylabel }}", type:'log'},
                                                xaxis: { title : "{{ legend_x[0] }} -> {{ legend_x[1] }} UTC"},
                                                paper_bgcolor:'rgba(0,0,0,0)'
                                            }
                                            );

                            if ( go_refresh == true ){
                                load = setInterval(refresh, 15000);
                            }
                             function refresh() {

                                 $.getJSON('/refreshGraph', {

                                    a: "{{ info.table }}",
                                    b: "{{ info.key }}"

                                  }, function(data) {

                                    Plotly.extendTraces('graph', {
                                        y: [[data.result]],
                                        x : [[data.date]]
                                    },[0])

                                   var update = {
                                        'xaxis.title': "{{ legend_x[0] }} -> " + data.date + " UTC" ,   // updates the xaxis range
                                    };
                                    Plotly.relayout('graph', update)

                                  });

                              };

                        </script>
                {% endif %}
        <center><form action="{{ url_for('view', table=info.table, devices=info.key) }}" class="from_date" method="POST">
            <label for="">Date start</label><br><br>
                <select name="day_start" id="day_start">
                    {% for x in range(1, 32) %}
                        {% if x == date.day %}
                            <option value="{{ x }}" selected>{{ x }}</option>
                        {% else %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select name="month_start" id="month_start">
                    {% for x in range(1, 13) %}
                        {% if x == date.month %}
                            <option value="{{ x }}" selected>{{ x }}</option>
                        {% else %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="number" placeholder="Year" value="{{ date.year }}" required name="year_start"><br><br>
            <label for="">Date end</label><br><br>
                <select name="day_end" id="day_end">
                    {% for x in range(1, 32) %}
                        {% if x == date.day %}
                            <option value="{{ x }}" selected>{{ x }}</option>
                        {% else %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select name="month_end" id="month_end">
                    {% for x in range(1, 13) %}
                        {% if x == date.month %}
                            <option value="{{ x }}" selected>{{ x }}</option>
                        {% else %}
                            <option value="{{ x }}">{{ x }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="number" placeholder="Year" value="{{ date.year }}" required name="year_end"><br><br>
                <input type="submit">
        </form></center>
{% endblock %}